<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>İsim</label>
        <input class="form-control" type="text" (input)="onNameChange($event.target.value)">
      </div>

    </div>

    <div class="col-md-6">
      <label><b>İsim</b></label>
      <div>
        {{name | titlecase}}
        <!-- {{name | uppercase}} -->
        <!-- {{name | lowercase}} -->
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tarih</label>
        <input class="form-control" type="date" (input)="onDateChange($event.target.value)">
      </div>

    </div>

    <div class="col-md-6">
      <label><b>Tarih</b></label>
      <div>
        <!-- {{date | date: 'mediumDate'}} -->
        {{date | date: 'MMMM d ,y'}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Money</label>
        <input class="form-control" type="text" (input)="onMoneyChange($event.target.value)">
      </div>

    </div>

    <div class="col-md-6">
      <label><b>Money</b></label>
      <div>
        <!-- {{date | date: 'mediumDate'}} -->
        <!-- {{money | currency: 'EUR'}} -->
        {{money | currency: 'USD'}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Boy</label>
        <input class="form-control" type="text" (input)="onHeightChange($event.target.value)">
      </div>

    </div>

    <div class="col-md-6">
      <label><b>Money</b></label>
      <div>
        {{height | number:'1.1-4'}}
      </div>
    </div>

  </div>

</div>
