
<div style="display:flex; justify-content:center; align-items: center; height: 80%;">
  <mat-card class="example-card" style="min-width: 300px;">
    <mat-card-header>
      <mat-card-title>Giriş Yap</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" style="display:flex;flex-direction:column;">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput placeholder="E-mailinizi giriniz">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')" >
            Lütfen Mail Adresinizi Giriniz.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')" >
            Lütfen Mail Adresinizi Düzgün Formatta Giriniz.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Şifre</mat-label>
          <input formControlName="password" type="password" matInput placeholder="Şifrenizi giriniz">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')" >
            Lütfen Şifrenizi Giriniz.
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')" >
            Min 8 karakter giriniz.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="Save">Giriş Yap</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
