<div style="display:flex;justify-content:center;margin-top:50px;">
  <div style="width:50%;">
    <button mat-raised-button color="primary" routerLink="/create">Yeni Yazı Oluştur</button>
    <mat-card *ngFor="let article of articleData;let i = index" style="margin:30px 0px;">
      <mat-card-content>
        <div [routerLink]="'/view/'+i">
          <h1>{{article.title}}</h1>
          <p><span style="font-size:16px;font-weight: 700;">Yazar:</span> {{article.author}} </p>
          <p>{{article.content}}</p>
        </div>
      </mat-card-content>

    </mat-card>

  </div>



</div>

